# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcworkspace
*.zip
*.txt

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/

# Realm database files
*.realm
*.realm.lock
*.realm.management

# macOS system files
.DS_Store
